pandas==3.0.6
nltk==3.10.3
spacy==3.8.16
scikit-learn==1.9.1
gensim==4.4.0
torch==2.14.1
transformers==4.57.6
sentencepiece==0.2.2
kagglehub==1.0.2
emoji==2.16.0
nbformat==5.11.1
nbclient==0.11.0
ipykernel==7.4.0
numpy==2.3.5
scipy==1.16.3
